<%= render "shared/header" %>

<div class='main'>
  <div class='project'>
    <div class='project-left'>
      <h3>案件No</h3>
      <%# each do projecsテーブル %>
        <%= link_to '数字', '#', class:'project-num' %>
      <%# end %>
    </div>
    <div class='project-right'>
      <h3>案件名</h3>
      <%# each do projecsテーブル %>
        <%= link_to '案件名', '#', class:'project-name' %>
      <%# end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>